.about {
  flex-direction: column;
  margin-top: 3em;
  font-family: 'Jaldi', sans-serif;
}

.hola{
  color: rgb(44, 44, 44);
  font-size: 4rem;
}
.about__name {
  color: rgb(58, 97, 182);
  font-size: 1em;
}

.about__role {
  margin-top: 1.2em;
  margin-bottom: 0;
}

.about__desc {
  font-size: 1.1rem;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid rgb(58, 97, 182);
  border-radius: 0;
}
.about .btn--outline:hover {
  background-color:rgb(58, 97, 182);
  color: white;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
